body {
  font-family: "Quicksand", sans-serif;
}

@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.word {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

@mixin tile {
  @extend .word;
  @include noselect;

  width: 32px;
  height: 32px;
  /* to force height to be respected */
  line-height: 100%;
  text-align: center;

  border: 1px solid #88a8e2;
}
.tile {
  @include tile;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table.word.grid {
  border-collapse: collapse;
  color: #550080;
  td {
    @include tile;

    &.empty {
      cursor: default;
      &:active:hover {
        background: #95e495;
      }
    }
    &:not(.empty) {
      background: #e0dfef;
      cursor: pointer;
    }
    &:not(.empty) > .tile {
      display: inline-block;
      box-sizing: content-box;
      margin: 0;
      border: none;
      background: #e0dfef;
      &:hover, &:active {
        border: 1px solid #88a8e2;
        margin: -1px;
      }
      &:active {
        transform: scale(1.1) translateY(-2px);
        &:hover {
          background: #95e495;
        }
      }
    }
    &[data-selected=true] {
      background: #95e495;
      &:not(.empty) > .tile {
        background: #95e495;
        &:active:hover {
          background: #e0dfef;
        }
      }
    }
  }
}

.word.bank {
  .letter {
    @include tile;
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid #88a8e2;
    background: #e0dfef;
    cursor: pointer;
    &[data-selected=true] {
      color: #053a05;
      background: #95e495;
      &:not(.empty) > .tile {
        background: #95e495;
        &:active:hover {
          background: #e0dfef;
        }
      }
    }
    &:not(.empty) > .tile {
      display: inline-block;
      box-sizing: content-box;
      margin: 0;
      border: none;
      background: #e0dfef;
      &:hover, &:active {
        border: 1px solid #88a8e2;
        margin: -1px;
      }
      &:active {
        transform: scale(1.1) translateY(-2px);
        &:hover {
          background: #95e495;
        }
      }
    }
  }
}
