body {
  font-family: "Quicksand", sans-serif;
}

:root {
  --font-size: 30px;
}

.word, .word.bank .letters .letter, .bank.tile .letters .letter, table.word.grid td.bank .letters .letter, table.grid.tile td.bank .letters .letter, table.word.grid td, .word.bank .letters table.grid.letter td, .bank.tile .letters table.grid.letter td, table.word.grid td.bank .letters table.grid.letter td, table.grid.tile td.bank .letters table.grid.letter td, table.grid.tile td, .tile {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.tile-size, .word.bank .letters .letter, .bank.tile .letters .letter, table.word.grid td.bank .letters .letter, table.grid.tile td.bank .letters .letter, table.word.grid td.empty > div, .word.bank .letters table.grid.letter td.empty > div, .bank.tile .letters table.grid.letter td.empty > div, table.word.grid td.bank .letters table.grid.letter td.empty > div, table.grid.tile td.bank .letters table.grid.letter td.empty > div, table.word.grid td, .word.bank .letters table.grid.letter td, .bank.tile .letters table.grid.letter td, table.word.grid td.bank .letters table.grid.letter td, table.grid.tile td.bank .letters table.grid.letter td, table.grid.tile td, .tile {
  font-size: var(--font-size);
  width: calc(var(--font-size) + 2px);
  height: calc(var(--font-size) + 2px);
  /* to force height to be respected */
  line-height: 100%;
  text-align: center;
}

.tile {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  border: 1px solid #88a8e2;
}

table.word.grid, .word.bank .letters table.grid.letter, .bank.tile .letters table.grid.letter, table.word.grid td.bank .letters table.grid.letter, table.grid.tile td.bank .letters table.grid.letter, table.grid.tile {
  border-collapse: collapse;
  color: #550080;
  --font-size: 30px;
  margin: auto;
}

table.word.grid td, .word.bank .letters table.grid.letter td, .bank.tile .letters table.grid.letter td, table.word.grid td.bank .letters table.grid.letter td, table.grid.tile td.bank .letters table.grid.letter td, table.grid.tile td {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  border: 1px solid #88a8e2;
}

table.word.grid td.unword, .word.bank .letters table.grid.letter td.unword, .bank.tile .letters table.grid.letter td.unword, table.word.grid td.bank .letters table.grid.letter td.unword, table.grid.tile td.bank .letters table.grid.letter td.unword {
  color: red;
}

table.word.grid td.empty, .word.bank .letters table.grid.letter td.empty, .bank.tile .letters table.grid.letter td.empty, table.word.grid td.bank .letters table.grid.letter td.empty, table.grid.tile td.bank .letters table.grid.letter td.empty {
  cursor: default;
}

table.word.grid td.empty:hover, .word.bank .letters table.grid.letter td.empty:hover, .bank.tile .letters table.grid.letter td.empty:hover, table.grid.tile td.bank .letters table.grid.letter td.empty:hover {
  background: #95e495;
}

table.word.grid td.empty:active:hover, .word.bank .letters table.grid.letter td.empty:active:hover, .bank.tile .letters table.grid.letter td.empty:active:hover, table.grid.tile td.bank .letters table.grid.letter td.empty:active:hover {
  background: #95e495;
}

table.word.grid td:not(.empty), .word.bank .letters table.grid.letter td:not(.empty), .bank.tile .letters table.grid.letter td:not(.empty), table.word.grid td.bank .letters table.grid.letter td:not(.empty), table.grid.tile td.bank .letters table.grid.letter td:not(.empty) {
  cursor: pointer;
}

table.word.grid td:not(.empty) > .tile, .word.bank .letters table.grid.letter td:not(.empty) > .tile, .bank.tile .letters table.grid.letter td:not(.empty) > .tile, table.word.grid td.bank .letters table.grid.letter td:not(.empty) > .tile, table.grid.tile td.bank .letters table.grid.letter td:not(.empty) > .tile {
  display: inline-block;
  box-sizing: content-box;
  margin: -1px;
  border: 1px solid #e0dfef;
  background: #e0dfef;
}

table.word.grid td:not(.empty) > .tile:hover, .word.bank .letters table.grid.letter td:not(.empty) > .tile:hover, .bank.tile .letters table.grid.letter td:not(.empty) > .tile:hover, table.word.grid td.bank .letters table.grid.letter td:not(.empty) > .tile:hover, table.grid.tile td.bank .letters table.grid.letter td:not(.empty) > .tile:hover, table.word.grid td:not(.empty) > .tile:active, .word.bank .letters table.grid.letter td:not(.empty) > .tile:active, .bank.tile .letters table.grid.letter td:not(.empty) > .tile:active, table.word.grid td.bank .letters table.grid.letter td:not(.empty) > .tile:active, table.grid.tile td.bank .letters table.grid.letter td:not(.empty) > .tile:active {
  border: 1px solid #88a8e2;
  margin: -1px;
}

table.word.grid td:not(.empty) > .tile:active:hover, .word.bank .letters table.grid.letter td:not(.empty) > .tile:active:hover, .bank.tile .letters table.grid.letter td:not(.empty) > .tile:active:hover, table.word.grid td.bank .letters table.grid.letter td:not(.empty) > .tile:active:hover, table.grid.tile td.bank .letters table.grid.letter td:not(.empty) > .tile:active:hover {
  background: #95e495;
}

table.word.grid td.empty[data-selected=true], .word.bank .letters table.grid.letter td.empty[data-selected=true], .bank.tile .letters table.grid.letter td.empty[data-selected=true], table.grid.tile td.bank .letters table.grid.letter td.empty[data-selected=true] {
  background: #95e495;
}

table.word.grid td[data-selected=true]:not(.empty) > .tile, .word.bank .letters table.grid.letter td[data-selected=true]:not(.empty) > .tile, .bank.tile .letters table.grid.letter td[data-selected=true]:not(.empty) > .tile, table.word.grid td.bank .letters table.grid.letter td[data-selected=true]:not(.empty) > .tile, table.grid.tile td.bank .letters table.grid.letter td[data-selected=true]:not(.empty) > .tile {
  background: #95e495;
  border-color: #95e495;
}

table.word.grid td[data-selected=true]:not(.empty) > .tile:active:hover, .word.bank .letters table.grid.letter td[data-selected=true]:not(.empty) > .tile:active:hover, .bank.tile .letters table.grid.letter td[data-selected=true]:not(.empty) > .tile:active:hover, table.word.grid td.bank .letters table.grid.letter td[data-selected=true]:not(.empty) > .tile:active:hover, table.grid.tile td.bank .letters table.grid.letter td[data-selected=true]:not(.empty) > .tile:active:hover {
  background: #e0dfef;
}

.word.bank, .word.bank .letters .bank.letter, .bank.tile .letters .bank.letter, table.word.grid td.bank .letters .bank.letter, table.grid.tile td.bank .letters .bank.letter, .bank.tile, table.word.grid td.bank, .word.bank .letters table.grid.letter td.bank, .bank.tile .letters table.grid.letter td.bank, table.word.grid td.bank .letters table.grid.letter td.bank, table.grid.tile td.bank .letters table.grid.letter td.bank, table.grid.tile td.bank {
  padding-top: 10px;
}

.word.bank .letters, .word.bank .letters .bank.letter .letters, .bank.tile .letters .bank.letter .letters, .bank.tile .letters, table.word.grid td.bank .letters, .word.bank .letters table.grid.letter td.bank .letters, .bank.tile .letters table.grid.letter td.bank .letters, table.grid.tile td.bank .letters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.word.bank .letters .letter, .bank.tile .letters .letter, table.word.grid td.bank .letters .letter, table.grid.tile td.bank .letters .letter {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  border: 1px solid #88a8e2;
  margin: 5px;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #88a8e2;
  background: #e0dfef;
  cursor: pointer;
}

.word.bank .letters .letter[data-selected=true], .bank.tile .letters .letter[data-selected=true], table.word.grid td.bank .letters .letter[data-selected=true], table.grid.tile td.bank .letters .letter[data-selected=true] {
  color: #053a05;
  background: #95e495;
}

.word.bank .letters .letter[data-selected=true]:not(.empty) > .tile, .bank.tile .letters .letter[data-selected=true]:not(.empty) > .tile, table.word.grid td.bank .letters .letter[data-selected=true]:not(.empty) > .tile, table.grid.tile td.bank .letters .letter[data-selected=true]:not(.empty) > .tile, .word.bank .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile, .bank.tile .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile, table.word.grid td.bank .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile, table.grid.tile td.bank .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile, .word.bank .letters table.grid.letter td.bank .letters .letter[data-selected=true]:not(.empty) > .tile, .bank.tile .letters table.grid.letter td.bank .letters .letter[data-selected=true]:not(.empty) > .tile, table.word.grid td.bank .letters table.grid.letter td.bank .letters .letter[data-selected=true]:not(.empty) > .tile, table.grid.tile td.bank .letters table.grid.letter td.bank .letters .letter[data-selected=true]:not(.empty) > .tile, .word.bank .letters .bank.letter .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile, .bank.tile .letters .bank.letter .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile, table.word.grid td.bank .letters .bank.letter .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile, table.grid.tile td.bank .letters .bank.letter .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile {
  background: #95e495;
}

.word.bank .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, .bank.tile .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, table.word.grid td.bank .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, table.grid.tile td.bank .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, .word.bank .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, .bank.tile .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, table.word.grid td.bank .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, table.grid.tile td.bank .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, .word.bank .letters table.grid.letter td.bank .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, .bank.tile .letters table.grid.letter td.bank .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, table.word.grid td.bank .letters table.grid.letter td.bank .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, table.grid.tile td.bank .letters table.grid.letter td.bank .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, .word.bank .letters .bank.letter .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, .bank.tile .letters .bank.letter .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, table.word.grid td.bank .letters .bank.letter .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover, table.grid.tile td.bank .letters .bank.letter .letters .bank.letter .letters .letter[data-selected=true]:not(.empty) > .tile:active:hover {
  background: #e0dfef;
}

.word.bank .letters .letter:not(.empty) > .tile, .bank.tile .letters .letter:not(.empty) > .tile, table.word.grid td.bank .letters .letter:not(.empty) > .tile, table.grid.tile td.bank .letters .letter:not(.empty) > .tile, .word.bank .letters .bank.letter .letters .letter:not(.empty) > .tile, .bank.tile .letters .bank.letter .letters .letter:not(.empty) > .tile, table.word.grid td.bank .letters .bank.letter .letters .letter:not(.empty) > .tile, table.grid.tile td.bank .letters .bank.letter .letters .letter:not(.empty) > .tile, .word.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile, .bank.tile .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile, table.word.grid td.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile, table.grid.tile td.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile, .word.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile, .bank.tile .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile, table.word.grid td.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile, table.grid.tile td.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile {
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  border: none;
  background: #e0dfef;
}

.word.bank .letters .letter:not(.empty) > .tile:hover, .bank.tile .letters .letter:not(.empty) > .tile:hover, table.word.grid td.bank .letters .letter:not(.empty) > .tile:hover, table.grid.tile td.bank .letters .letter:not(.empty) > .tile:hover, .word.bank .letters .bank.letter .letters .letter:not(.empty) > .tile:hover, .bank.tile .letters .bank.letter .letters .letter:not(.empty) > .tile:hover, table.word.grid td.bank .letters .bank.letter .letters .letter:not(.empty) > .tile:hover, table.grid.tile td.bank .letters .bank.letter .letters .letter:not(.empty) > .tile:hover, .word.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:hover, .bank.tile .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:hover, table.word.grid td.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:hover, table.grid.tile td.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:hover, .word.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:hover, .bank.tile .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:hover, table.word.grid td.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:hover, table.grid.tile td.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:hover, .word.bank .letters .letter:not(.empty) > .tile:active, .bank.tile .letters .letter:not(.empty) > .tile:active, table.word.grid td.bank .letters .letter:not(.empty) > .tile:active, table.grid.tile td.bank .letters .letter:not(.empty) > .tile:active, .word.bank .letters .bank.letter .letters .letter:not(.empty) > .tile:active, .bank.tile .letters .bank.letter .letters .letter:not(.empty) > .tile:active, table.word.grid td.bank .letters .bank.letter .letters .letter:not(.empty) > .tile:active, table.grid.tile td.bank .letters .bank.letter .letters .letter:not(.empty) > .tile:active, .word.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:active, .bank.tile .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:active, table.word.grid td.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:active, table.grid.tile td.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:active, .word.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:active, .bank.tile .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:active, table.word.grid td.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:active, table.grid.tile td.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:active {
  border: 1px solid #88a8e2;
  margin: -1px;
}

.word.bank .letters .letter:not(.empty) > .tile:active:hover, .bank.tile .letters .letter:not(.empty) > .tile:active:hover, table.word.grid td.bank .letters .letter:not(.empty) > .tile:active:hover, table.grid.tile td.bank .letters .letter:not(.empty) > .tile:active:hover, .word.bank .letters .bank.letter .letters .letter:not(.empty) > .tile:active:hover, .bank.tile .letters .bank.letter .letters .letter:not(.empty) > .tile:active:hover, table.word.grid td.bank .letters .bank.letter .letters .letter:not(.empty) > .tile:active:hover, table.grid.tile td.bank .letters .bank.letter .letters .letter:not(.empty) > .tile:active:hover, .word.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:active:hover, .bank.tile .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:active:hover, table.word.grid td.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:active:hover, table.grid.tile td.bank .letters table.grid.letter td.bank .letters .letter:not(.empty) > .tile:active:hover, .word.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:active:hover, .bank.tile .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:active:hover, table.word.grid td.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:active:hover, table.grid.tile td.bank .letters .bank.letter .letters .bank.letter .letters .letter:not(.empty) > .tile:active:hover {
  background: #95e495;
}

.word.bank .actions, .bank.tile .actions, table.word.grid td.bank .actions, table.grid.tile td.bank .actions, .word.bank .letters .bank.letter .actions, .bank.tile .letters .bank.letter .actions, .word.bank .letters table.grid.letter td.bank .actions, .bank.tile .letters table.grid.letter td.bank .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  font: inherit;
  font-size: var(--font-size);
  border: 1px solid #88a8e2;
  background: #e0dfef;
}

button:disabled, button.disabled {
  color: gray;
}

button:disabled:focus, button.disabled:focus {
  outline: none;
}

button[data-selected=true] {
  color: #053a05;
  background: #95e495;
}

/* FULL SCREEN MODE */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  padding: 10px;
  box-sizing: border-box;
}

#game, .game-component {
  width: 100%;
  height: 100%;
}

.game-component > * {
  width: 100%;
  overflow: auto;
}

.game-component > .board {
  height: 70%;
}

.game-component > .bank {
  height: 30%;
}

.game-component > .bank > .bank {
  height: 100%;
}

/**/
