:root {
  --mdc-theme-on-primary: teal;
  --mdc-theme-on-secondary: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-hero {
  background-color: var(--mdc-theme-primary);
  padding-top: 50px;
}

.App-page {
  padding-top: 50px;
}

.App-footer {
  background-color: lightgray;
  color: gray;
  padding-top: 25px;
  padding-bottom: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 0px) {
  .App-AuthedHeaderComponent {
    visibility: hidden;
    display: none !important;
  }
}

@media (min-width: 840px) {
  .App-AuthedHeaderComponent {
    visibility: visible;
    display: inline-flex !important;
  }
}

.mdc-top-app-bar {
  max-width: 100vw !important;
}

.mdc-layout-grid {
  max-width: 100vw !important;
}
