@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --tile-size: 0.5in;
}

@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.word {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

@mixin tile-size {
  font-size: var(--tile-size);
  width: calc(var(--tile-size) + 2px);
  height: calc(var(--tile-size) + 2px);
  /* to force height to be respected */
  line-height: 100%;
  text-align: center;
}

@mixin tile {
  @extend .word;
  @extend .tile-size;
  @include noselect;
  border: 1px solid #88a8e2;
}
.tile-size {
  @include tile-size;
}
.tile {
  @extend .tile-size;
  @include tile;
}

table.word.grid {
  border-collapse: collapse;
  color: #550080;
  margin: auto;
  td {
    @include tile;
    //position: relative;
    &.unword {
      color: red;
    }
    &.empty {
      cursor: default;
      &:hover {
        background: #95e495;
      }
      &:active:hover {
        background: #95e495;
      }
      & > div {
        @extend .tile-size;
      }
    }
    &:not(.empty) {
      cursor: pointer;
    }
    &:not(.empty) > .tile {
      display: inline-block;
      box-sizing: content-box;
      margin: -1px;
      border: 1px solid #e0dfef;
      background: #e0dfef;
      &:hover, &:active {
        border: 1px solid #88a8e2;
        margin: -1px;
      }
      &:active {
        //transform: scale(1.1) translateY(-2px);
        &:hover {
          background: #95e495;
        }
      }
    }
    &[data-selected=true] {
      &.empty {
        background: #95e495;
      }
      &:not(.empty) > .tile {
        background: #95e495;
        border-color: #95e495;
        &:active:hover {
          background: #e0dfef;
        }
      }
    }
  }
}

.word.bank {
  padding-top: 10px;
  .letters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .letter {
      @include tile;
      margin: 5px;
      display: inline-block;
      vertical-align: bottom;
      border: 1px solid #88a8e2;
      background: #e0dfef;
      cursor: pointer;
      &[data-selected=true] {
        color: #053a05;
        background: #95e495;
        &:not(.empty) > .tile {
          background: #95e495;
          &:active:hover {
            background: #e0dfef;
          }
        }
      }
      &:not(.empty) > .tile {
        display: inline-block;
        box-sizing: content-box;
        margin: 0;
        border: none;
        background: #e0dfef;
        &:hover, &:active {
          border: 1px solid #88a8e2;
          margin: -1px;
        }
        &:active {
          //transform: scale(1.1) translateY(-2px);
          &:hover {
            background: #95e495;
          }
        }
      }
    }
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 12px;
    & > * {
      margin: 6px;
      --mdc-typography-button-font-size: 1.275rem;
    }
  }
}

/* FULL SCREEN MODE */

//*

#game, .game-component {
  width: 100%;
  height: 100%;
}

.game-component > * {
  width: 100%;
  overflow: auto;
}

.game-component > .board {
  height: 65vh;
}
.game-component > .bank {
  height: 30vh;
}
.game-component > .bank > .bank {
  height: 100%;
}

.results .game-component > .board, .results .game-component > .bank {
  height: initial;
}

/**/
