:root {
  --mdc-theme-on-primary: teal;
  --mdc-theme-on-secondary: black;
}

body {
  overscroll-behavior-y: contain;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0px 10px 0px;
}

p {
  font-size: 1.1em;
}

.fit-content {
  width: fit-content;
  width: -moz-fit-content;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-screenshots {
  max-height: 50vh;
  max-width: 95%;
  pointer-events: none;
}

.App-gifs {
  max-height: 50vh;
  max-width: 95%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-1000px {
  margin: 0 auto;
  max-width: 1000px;
}

.App-hero {
  background-color: var(--mdc-theme-primary);
  padding: 0.75rem;
}

.App-page {
  padding-top: 25px;
}

.App-footer {
  background-color: lightgray;
  color: gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  34% {
    opacity: 0;
  }
  70% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.App-Logo {
  width: 90%;
  margin: 1rem;
}

@media (max-width: 839px) {
  .mdc-top-app-bar:not(.mdc-top-app-bar--short-collapsed) .App-AuthedHeaderComponent button.mdc-top-app-bar__action-item {
    display: none;
  }
  .mdc-top-app-bar--short-collapsed .App-Title {
    visibility: hidden;
    display: none;
  }
  .mdc-top-app-bar .App-AuthedHeaderComponent button:not(.mdc-top-app-bar__action-item) {
    visibility: hidden;
    display: none;
  }
  .App-Logo {
    width: 45% !important;
    margin: 0 !important;
  }
}

@media (min-width: 840px) {
  .App-AuthedHeaderComponent {
    visibility: visible;
    display: inline-flex;
  }
  .mdc-top-app-bar:not(.mdc-top-app-bar--short-collapsed) .App-AuthedHeaderComponent button:not(.mdc-top-app-bar__action-item) {
    animation: 750ms fadeIn;
    animation-fill-mode: forwards;
  }
  .mdc-top-app-bar:not(.mdc-top-app-bar--short-collapsed) .App-AuthedHeaderComponent button.mdc-top-app-bar__action-item {
    display: none;
  }
  .mdc-top-app-bar--short-collapsed .App-Title {
    visibility: hidden;
    display: none;
  }
  .mdc-top-app-bar--short-collapsed .App-AuthedHeaderComponent button:not(.mdc-top-app-bar__action-item) {
    visibility: hidden;
    display: none;
  }
}


/* TODO: upstream??? */
.mdc-top-app-bar--short + .mdc-top-app-bar--fixed-adjust {
  padding-top: 56px;
  background-color: var(--mdc-theme-primary, #6200ee);
}

.mdc-snackbar__action:not(:disabled) {
  color: var(--mdc-theme-primary, #6200ee);
}

.mdc-top-app-bar--fixed.mdc-top-app-bar--short {
  transition: box-shadow 200ms linear, width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mdc-top-app-bar:not(.mdc-top-app-bar--short-collapsed) .mdc-top-app-bar__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdc-top-app-bar {
  max-width: 100vw;
}

.mdc-layout-grid {
  max-width: 100vw;
}

a, a:visited {
  color: black;
}

.App-game-code {
  width: 90%;
}

article.text p, article.text ul {
  text-align: left;
}

.text-left {
  text-align: left;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexible {
  margin: 1rem;
}

.leftpad {
  margin-left: 2rem;
}

.playerSummary {
  display: inline;
  width: 100px;
  margin-right: 25px;
}

.playerSummaryInHand {
  margin-left: 0.5rem;
}

.unselectable {
  user-select: none;
}

.results li {
  list-style: none;
  list-style-type: none;
}

.scrollable-x {
  overflow-x: auto;
  white-space: nowrap;
}

#wpg-logo {
  text-align: center;
}

.mdc-snackbar {
  bottom: unset;
  top: 0px;
}

nav a {
  text-decoration: none;
}

.countdown-overlay {
  display: block;
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: 1000;
}

.countdown-circle {
  display: block;
  width: 45vmin;
  height: 45vmin;

  position: relative;
  margin: auto auto;
  top: calc(50vh - 22.5vmin);

  border-radius: 50%;

  line-height: 45vmin;
  font-size: 40vmin;

  background-color: #006515;
  opacity: 0.85;
}

hr {
  width: 100%;
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  border-top: none;
  border-left: none;
  border-right: none;
}
